# {{name}}

## Description

{{name}} CLI

## Installation

Using npm

```bash
> npm install -g @{{gitUserName}}/{{name}}
```

Using yarn

```bash
> yarn add global @{{gitUserName}}/{{name}}
```

## Usage

## License

Copyright &copy; {{year}} {{fname}} {{lname}}
Released under the MIT license

## Credits

{{name}} written by {{fname}} {{lname}}

E-Mail: [{{email}}](mailto:{{email}})
