#!/usr/bin/env node
/*eslint no-console: "off"*/

const messenger = require('@codedungeon/messenger')

console.log('')
messenger.warn('Testing has not been setup for this project', 'WARNING')
console.log('')
